body {
    background-image: url(imgs/forestRidge.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Makes background cover fill */
/* html {
    height: 100%;
} */

#navMain {
    background-color: #2b4d29;
}

#content {
	text-align: center;
	padding-top: 20%;
}

#content h1 {
    font-weight: 400;
}

#content h3 {
    font-weight: 200;
    font-style: italic;
}

#mainContent hr {
    background-color: white;
    opacity: 50%;
    width: 400px;
}

#accordionContent {
    color: black;
}

.accordion>.card .card-header {
    background-color: #2b4d29;
}

.btn-link {
    color: white; 
}