body {
    background-image: url(imgs/forestRidge.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Makes background cover fill */
html, body {
    height: 100%;
}

#navMain {
    background-color: #2b4d29;
}

#content {
	text-align: center;
	padding-top: 20%;
}

#content h1 {
    font-weight: 400;
}

#content h3 {
    font-weight: 200;
    font-style: italic;
}

#mainContent hr {
    background-color: white;
    opacity: 50%;
    width: 400px;
}

#accordionContent {
    color: black;
}

#heading {
    font-weight: 200;
    color: white; 
}

.accordion>.card .card-header {
    background-color: #2b4d29;
}

.btn-link {
    color: white; 
}

form {
    background-color: #2b4d29; 
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

form#ticketing {
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 1.5rem;
}

form#credentials {
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 1.5rem;
}